.git
*.egg-info
oarphpy.egg-info
*.pyc
*/**/__pycache__
.eggs
.pytest_cache
eggs
build
docs/build
ext_data
external_test_fixtures
notebooks/**/*
test_*
*.bag
dataroot
test_run_output

dataroot_costco
my_html_viz
trimeshtast*
colmap*
cv_charuco
history*
