*.egg-info
*.pyc
*/**/__pycache__
.DS_Store
._.DS_Store
.eggs
.vscode
*/**/._*
eggs
build
dataroot
ext_data
external_test_fixtures
notebooks/.ipynb_checkpoints
notebooks/sparkmonitor_kernelextension.log
