# Better cloudpickle support
attrs>=21.4.0

better_exceptions
fasteners
imageio
imageio-ffmpeg
numpy
oarphpy[spark]==0.1.1
open3d>=0.11.1
opencv-python>=4.5.5.62
pandas
plotly>=4.2.1
plyfile
psutil
pyspark>=3.3.2
pytest
python-slugify
rich
scipy>=1.4.0
shapely
six>=1.14.0
sphinx-autoapi
tabulate
threadpoolctl
tqdm
trimesh
xmltodict

