# Better cloudpickle support
attrs>=21.4.0

fasteners
imageio
imageio-ffmpeg
mdv==1.7.4
numpy
oarphpy[spark]==0.1.0
open3d>=0.11.1
opencv-python>=4.5.5.62
pandas
plotly>=4.2.1
plyfile
psutil
pytest
python-slugify
scipy>=1.4.0
six>=1.14.0
sphinx-autoapi
tabulate
threadpoolctl
xmltodict

